<div id="work-grid" class="fadeIn">
  <div class="has-caption">
    <img src="assets/dev-work/internskills.png" alt="internskills">
    <div class="contentPart">
      <div>
        <p>Tools used Bootstrap and Wordpress.</p>
      </div>
      <div style="padding-top: 12px">
        <a href="http://www.internskills.com/">
          <button class="btn" >Take a look</button>
        </a>
      </div>
    </div>
  </div>
    
  <div class="has-caption">
    <img src="assets/dev-work/woodrich.png">
    <div class="contentPart">
        <div>
            <p>Entirely Wordpress.<br> (New Client - Ongoing Project)</p>
          </div>
          <div style="padding-top: 12px">
            <a href="#">
              <button class="btn" disabled>Take a look</button>
            </a>
          </div>
    </div>
  </div> 

  <div class="has-caption">
    <img src="assets/dev-work/m-and-e.png">
    <div class="contentPart">
      <div>
        <p>Angular and Bootstrap.<br> (New Client - Ongoing Project)</p>
      </div>
      <div style="padding-top: 12px">
        <a href="#">
          <button class="btn" disabled>Take a look</button>
        </a>
      </div>
    </div>
  </div>
</div>
