<div class="slideInUp" id="home">
  <div id="profile-text">
    <h1 class="large-text">viola bazanye</h1>
    <p style="line-height: 1.5em;">I am a programmer with an enthusiasm for design and a drive to create futures for actual people.
      I work best at the intersection between digital product design & development.    
      Most of my work involves User Experience & Interaction Design, Web/Hybrid app development (ReactJS & React Native) and Android development.
    </p>
    <div id="menu-grid">
      <div>
        <img src="assets/case-study.png" alt="case studies">
        <h4><a href="/case-studies">CASE STUDIES</a></h4>
        <p>Stories and detailed descriptions of projects that I have been working on myself or hired to work on with a team or for a client, depending on their privacy policy.</p>
      </div>
      <div>
        <img src="assets/prototype.png" alt="prototypes">
        <h4><a routerLink="/prototypes">PROTOTYPES</a></h4>
        <p>Ideas in the works, kind of my garage section where I display innovative ideas I have been working on myself. Designed, developed and hopefully deployed.</p>
      </div>                    
    </div>
  </div>
  <div>
    <div id="profile-pic"><img style="max-width:100%; height:auto" src="assets/me.jpeg" alt="Viola Bazanye"></div>
    <div id="contact">
      <a href="mailto:vibaza2423@gmail.com"><img src="assets/gmail.png"></a>
      <a href="https://www.linkedin.com/in/viola-bazanye/"><img src="assets/linkedin.png"></a>
      <a href="https://github.com/violabazanye"><img src="assets/github.png"></a>
      <a href="https://violabazanye.wordpress.com/"><img src="assets/wordpress-logo.png"></a>
    </div>
  </div>
</div>