#home{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
#profile-text {
    margin: 60px;
}
#profile-pic {
    max-width: 400px;
    margin: 30px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 15px;
    background: white;
}
#profile-pic img {
    border: 1px solid #000000;
    border-style: inset;
}
#menu-grid {
    padding-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}
#menu-grid div {
    justify-content: center;
    text-align: left;
}
#menu-grid img {
    max-width: 72px;
}
#contact {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-gap: 25px;
}
#contact img {
    width: 48px;
    height: 48px;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#contact img:hover {
    width: 56px;
    height: 56px;
}
button {
    border-radius: 0.12em;
    padding: 0.35em 1.2em;
    /*border: 0.1em solid olive;
    margin: 0 0.3em 0.3em 0;*/
    border-width: 0.1em;
    border-style: solid;
    border-color: olive;
    margin-top: 0;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s;
    font-weight: 300;
    color: olive; 
}
button:hover {
    color: white;
    background-color: olive;
}

/* RESPONSIVE CSS */

@media only screen and (max-width: 950px){
    #menu-grid {
        display: none;
    }
    #home {
        display: block;
        text-align: center;
    }
    #profile-text {
        padding-top: 20px;
    }
    #contact {
        padding-bottom: 20px;
    }
    #profile-pic {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

@media only screen and (max-width: 600px){
    #profile-text {
        position: relative;
        top: -13em;
        margin-bottom: -13em;
    }
    #profile-text h1 {
        display: none;
    }
    #profile-pic {
        width: 60%;
    }
}

@media only screen and (max-width: 430px){
    #contact {
        grid-gap: 15px;
    }
    #profile-pic {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
