<div class="slideInUp" id="content">
  <div id="intro">
    <img src="assets/hello-chefbot.png"/>
    <div>
      <p class="large-text" id="greeting">Hello Chef Bot!</p>
      <p>Ever looked inside your fridge and found a bunch of random ingredients, but had no idea what to cook with them? I have..., plenty of times.<br/>This gave me the idea to create your everday recipe app but with twist. The twist being - with a <span style="text-decoration:underline">conversational UI</span>.</p>
      <p style="text-align:left">Objectives:</p>
        <ul style="text-align:left">
          <li>provide user with meaningful recipe suggestions</li>
          <li>raise user curiosity and liking</li>
          <li>display my interaction design and app development skills (using React Native)</li>
        </ul>
    </div>
  </div>
  <div id="details">
      <div> 
        <p class="large-text">Customized suggestions.</p>
        <p>Start a conversation with Chef Bot to obtain customized recipes according to what is available in your fridge. Chef Bot is also adaptive - meaning that, depending on the situation, it can be modified and adjusted to achieve better results.<br/>
        Here the artificial inttelligence will be built with Facebook's Wit AI.</p>
      </div>
      <div>
        <img src="assets/devices.png"/>
      </div>
  </div>
  <div id="search">
      <p class="large-text">Search for your favorite recipes!</p>
      <p>Chef Bot will be powered by a popular open source API, BigOven, which gives it access to over 350,000 recipes that you can choose from.</p>
    <img src="assets/dish-grid.png"/>
  </div>
  <div id="end">
      <div style="margin:60px">
        <img src="assets/hero-phone.png"/>
      </div>
      <div style="margin:50px">  
        <p class="large-text">Your very own mobile sous-chef.</p>
        <p>Coming soon to Google Play & iPhone App Store.</p>
      </div>
  </div>
</div>
