#intro{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 120px;
}
#details{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #026C7C;
    color: white;
}
#details img{
    max-width: 650px;
}
#search{
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}
#search img{
    max-width: 850px;
}
#end{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #6A0136;
    color: white;
}
#end img{
    max-width: 350px;
}