<div id="content">
  <div id="intro">
    <img src="assets/hello-chefbot.png"/>
    <div>
      <p class="large-text" id="greeting">Hello Chef Bot!</p>
      <p>Ever looked inside your fridge and found a bunch of random ingredients, but had no idea what to cook with them? I have..., plenty of times.<br/>This gave me the idea to create your everday recipe app but with twist. The twist being - with a <span style="text-decoration:underline">conversational UI</span>.</p>
      <p>Objectives:</p>
        <ul>
          <li>provide user with meaningful recipe suggestions</li>
          <li>raise user curiosity and liking</li>
          <li>display my interaction design and app development skills</li>
        </ul> 
        <p>PS. I am also currently in the process of developing it with React Native.</p>
    </div>
  </div>
  <div id="details">
      <div> 
        <p class="large-text">Customized suggestions.</p>
        <p>Start a conversation with Chef Bot to obtain customized recipes according to what is available in your fridge. Chef Bot is also adaptive - meaning that, depending on the situation, it can be modified and adjusted to achieve better results.<br/>
        Here the artificial inttelligence will be built with Facebook's Wit AI.</p>
      </div>
      <div>
        <img src="assets/devices.png"/>
      </div>
  </div>
  <div id="search">
      <p class="large-text">Search for your favorite recipes!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
    <img src="assets/dish-grid.png"/>
  </div>
  <div id="end">
      <div style="margin:60px">
        <img src="assets/hero-phone.png"/>
      </div>
      <div style="margin:60px"> 
        <p class="large-text">Your very own mobile sous-chef.</p>
        <p>Coming soon to Google Play & iPhone App Store.</p>
      </div>
  </div>
</div>
