#intro{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 120px;
}
#intro img{
    width: 100%;
    height: auto;
}
#greeting{
    background: linear-gradient(to left, #026C7C 40%, black 60%);
    background-size: 200% auto;
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flash 2s linear;
}
#details{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #026C7C;
    color: white;
    padding: 60px;
}
#details img{
    max-width: 650px;
    height: auto;
}
#search{
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}
#search img{
    max-width: 850px;
    height: auto;
    width: 100%;
}
#end{
    display: grid;
    grid-template-columns: 650px auto;
    align-items: center;
    background-color: #6A0136;
    color: white;
}
#end img{
    max-width: 750px;
    height: auto;
    width: 100%;
}

/* ANIMATIONS */

@-webkit-keyframes flash{
    to {background-position: 200% center;}
}
@keyframes flash{
    to {background-position: 200% center;}
}

/* RESPONSIVE CSS */

@media only screen and (max-width: 1240px){
    #details{
        display: block;
        text-align: center;
        padding: 40px;
    }
    #details img{
        max-width: 550px;
        width: 100%;
        padding-top: 20px;
    }
    #end{
        display: block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #end img{
        max-width: 550px;
    }
}
@media only screen and (max-width: 900px){
    #intro{
        display: table;
        text-align: center;
        padding-top: 80px;
    }
    #intro img{
        display: table-footer-group;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
    }
    #intro div{
        display: table-header-group;
    }
    #details img{
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    #end{
        display: block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #end img{
        max-width: 450px;
    }
}
@media only screen and (max-width: 890px){
    #end{
        display: block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #end img{
        max-width: 450px;
    }
}
@media only screen and (max-width: 600px){
    #intro{
        padding-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media only screen and (max-width: 414px){
    #intro{
        padding-top: 0;
        margin-left: 30px;
        margin-right: 30px;
    }
    #intro img{
        padding-top: 20px;
    }
    #details{
        padding: 30px;
    }
    #search{
        margin-left: 30px;
        margin-right: 30px;
    }
}