<div class="slideInUp" id="content">
  <img id="welcome-img" style="max-width:70%; height:auto;" src="assets/tbc/Apple-screen.png" alt="Welcome"/>
  <div id="intro">
    <p><span style="font-weight: bolder">The Broker Connection</span> started out as a solution to a design challenge for a job 
      interview I was doing at the time. The challenge was basically to find a problem that I cared about and create a solution
      for it.
    </p>
    <h2>RESEARCH</h2>
    <p>To begin, I started by doing an online study of the current status of the real estate industry in Uganda. Basically, it is a complete mess.
      Real estate in Uganda is an open market (also known as survival for the fittest) meaning that there aren’t any clear laws that can help regulate the industry, leaving room for con artists to thrive.
      In addition, local real estate agents, who are actually licensed, find it difficult to grow because they do not have exclusive rights to sell someone’s property. With this, I decided to focus on the 
      house hunting angle of this situation with the aim of finding out, exactly, how people look for homes in Kampala.</p>
    <h2>INTERVIEWS</h2>
    <div id="interviews">
      <p><span style="font-weight: bolder">Maria, 27yrs</span> - Entrepreneur, tenant in Kampala and also interested in joining the real estate industry as an individual broker.<br>
        <span style="font-weight: bolder">GOALS:</span> seeks a safe, comfortable home, a place she longs to go back to at the end of the day.<br>
        Currently she house hunts with the help of brokers (also known as unlicensed real estate agents).<br>
        Alternatives tried include; real estate websites but they have a lot of false information. She has tried doing it on her own but the main challenge is that she is not familiar with the area.
      </p>
      <p><span style="font-weight: bolder">Patrick, 61yrs</span> - Experienced entrepreneur, owns licensed real estate agency and home owner in Kampala.<br>
        <span style="font-weight: bolder">GOALS:</span> help his clients find secure homes, with reasonable payment terms.<br>
        Currently he uses his network of brokers to help market his properties and also to find properties for his clients, because brokers are more familiar with certain areas and can easily navigate.<br>
        Alternatives tried include; building a company website with properties listed but due to the open market, they do not have exclusive rights to sell someone’s property. So they risk tarnishing their 
        brand’s reputation by listing a property already sold.
      </p>
    </div>
    <p>So basically, the current solution to finding homes in Kampala is through the use of independent brokers. Independent property brokers in Kampala are usually unlicensed real estate agents. Brokers of this 
      kind tend to work as they please, and in most cases defraud clients since they cannot be traced in case of any problems. Read this article <a href="https://www.newvision.co.ug/new_vision/news/1313778/hunting-house-kampala" target="_blank">here</a> on one woman's experience with Kampala's brokers.</p>
      <p>Recently, the government issued land acquisition guidelines that seek to block property brokers, middlemen and unlicensed lawyers from the transaction chain of property in the country in a bid to 
        curb on the level of fraud in real estate. According to the new guidelines, as of July 2 2018, anything to do with registration of land titles must be done solely by the registered owner in person, and not 
        the broker or lawyer.</p>
    <h2>PROBLEM ANALYSIS</h2>
    <ul>
      <li>The main challenge is that there aren’t any laws to help regulate the real estate industry in Uganda.</li>
      <li>This leads to an open market kind of situation which makes it difficult for real estate entrepreneurs to gain a stable income from the industry.</li>
      <li>Due to the economic growth in the country, more foreigners are buying houses and looking to settle in Uganda, but these are the main victims of con artists in real estate.</li>
    </ul>
    <p>In conclusion, you can tell from the interviews, that we can not do away with these brokers. They are a necessary evil because they have the information people looking for homes need and most importantly, they 
      are familiar with the area and can easily navigate. This is important because in Uganda, we don't have clear addresses making it very difficult to find a place on your own if you are new to the area. Even with GPS it 
      is quite difficult especially in suburban areas.<br>
      Also, due to the high levels of fraud, the trust between brokers and clients has been broken making it quite difficult to for them to earn a living and for people to find a broker they can trust.
    </p>
    <h2>SOLUTION</h2>
    <p>Keeping the above in mind, how can we make the best out of a bad situation? I then decided on the following mission statement:</p>
    <p style="text-align: center; font-style: italic; font-weight: bolder">“Ease the house hunting process in Uganda by connecting brokers to potential clients.”</p>
    <p>This will be achieved through the following goals: </p>
    <ul>
      <li>Help people find a broker they can trust</li>
      <li>Dispel the fears associated with finding a broker to help you house hunt</li>
      <li>Inform people of the current state of the housing market so that they are not easily conned</li>
    </ul>
  </div>
  <div id="design">
    <h2>SKETCHES</h2>
    <p>I then started to sketch a few of the main screens so as to visualise my idea and mapped out the basic user flow with wireframes.</p>
    <div id="sketches">
      <img style="max-width:100%; height:auto;" src="assets/tbc/sketch-home.jpg" />
      <img style="max-width:100%; height:auto;" src="assets/tbc/sketch-search.jpg" />
      <img style="max-width:100%; height:auto;" src="assets/tbc/sketch-profile.jpg" />
    </div>
    <h2>USER FLOW</h2>
    <img style="max-width:100%; height:auto; margin-left: auto; margin-right: auto" src="assets/tbc/Workflow.png" alt="User flow" />
    <h2 id="hf-title">HIGH FIDELITY</h2>
    <div id="hi-def">
      <div>
          <p>Since the main problem to me was lack of trust between clients and brokers, my design decisions were mainly backed by the purpose of gaining the user’s trust.</p>
          <p>I opted to focus on the web platform because that would ideally be the main access point. Otherwise, the site is designed to accommodate mobile devices as well 
            by the use of cards in the UI. This allows the content to easily be repositioned without distorting it.</p>
          <p>There are three main screens:</p>
          <ul>
            <li>find broker</li>
            <li>house prices</li>
            <li>about us - only displays team information so users know who they are dealing with</li>
          </ul>
          <p>The sign in page is for clients to contribute to the sites authenticity by adding reviews and ratings to the brokers. Their emails are stored to receive 
            notifications on availability of a property.</p>
          <p>It was important to be as transparent as possible, by explaining the entire process of using the website step by step. I did this so that users can be confident 
            when using the site and know exactly what to expect, no surprises.</p>
          <p>For foreigners, I added a section "New to the city?", that reassures them that the information on this site comes from trusted brands so they have no reason to doubt it. Sort of 
            borrowing trust from others.
          </p>
          <p>Testimonials were also added to serve as reassurance to users that other people have used the site and were satisfied with the service.</p>
          <p>As mentioned before, brokers are unlicensed real estate agents here in Uganda and their current method of acquiring clients is by word of mouth, and posting notices on the side 
            of the road with their contact details. This is not efficient because clients do not know who to trust and are afraid to call the numbers on those notices.</p>
          <p>So brokers can register and their details will be displayed on the site. Since most of these brokers are not tech savvy and mayn’t speak English, registration is done by the site 
            admin, that’s why I did not create a registration screen for them since it is not part of the main user flow, but it should be a basic form with fields to input the data displayed.</p>
      </div>
      <img style="max-width:100%; height:auto;" src="assets/tbc/Home-TBC.png" />
    </div>
    <div id="hi-def">
        <img style="max-width:100%; height:auto;margin-top: 20px" src="assets/tbc/Broker-Profile.png" />
        <div>
          <p>To reassure users that a broker can be trusted, the broker profile comes with a rating and client reviews defending their credibility.</p>
          <p>Properties that they know about and are responsible for marketing are placed in their profile as well. A potential client can click on a card to expand it and check the property’s 
            availability by sending a notification to the site admin who will confirm with the broker and provide feedback via email.</p>
          <p>Due to the problem of an open market, it is possible for more than one broker to market the same property and neither one of them has the exclusive rights to sell that property.
              So, I added a badge to the properties listed on the broker’s profile to indicate that this broker actually does have rights to sell this property.</p>
        </div>
    </div>
    <div id="hi-def">
        <img style="max-width:100%; height:auto;margin-top: 20px" src="assets/tbc/Find-Broker.png" />
        <img style="max-width:100%; height:auto;margin-top: 20px" src="assets/tbc/House-prices.png" />
    </div>
    <div style="margin-bottom: 50px" id="hi-def">
        <p>The About Us page is the most important piece to the puzzle of gaining the user's trust. It is important to show them who exactly they are dealing with and that your mission and vision 
          are in line with their goals.
        </p>
        <img style="max-width:100%; height:auto;margin-top: 20px" src="assets/tbc/About-us.png" />
    </div>
    <h2>LESSONS LEARNED</h2>
    <p>During this exercise, I learned that it is important to guess less during the design process. Originally I thought designing a website that just lists available properties for rent would solve 
      the problem, but that is not the case. Through my interactions with different users I learnt that when looking for homes in Uganda, people don't look for them on their own, they look for brokers.
      So a site with just properties would have been useless.<br>
      I also learnt the importance of not making the user change their habits to accommodate your solution, instead your solution should change to accommodate their habits.
    </p>
    <p>PS. I received a lot of good feedback during this study and requests to make it a reality. Currently working on a business model and soliciting partners to help launch it. Watch this space...</p>
  </div>
</div>
