<div id="navbar">
  <ul>
    <li><a routerLink="/about">ABOUT</a></li>
    <li><a routerLink="/case-studies">CASE STUDIES</a></li>
    <li><a routerLink="/prototypes">PROTOTYPES</a></li>
  </ul>
  <div id="mini-menu">
    <div class="dropdown">
      <img style="width: 32px;" src="assets/menu.png"/>
      <div class="dropdown-content">
        <a href="/about">ABOUT</a>
        <a href="/case-studies">CASE STUDIES</a>
        <a href="/prototypes">PROTOTYPES</a>
      </div>
    </div>
    <h1 class="large-text" style="line-height: 4vw">viola bazanye<br>portfolio</h1>
  </div>
</div>
<router-outlet></router-outlet>
