#navbar{
    position: relative;
}
ul{
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}
li{
    float: left;
    font-weight: bolder;
    letter-spacing: 3px;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: darkolivegreen; 
}