<nav role="navigation" id="navbar">
  <ul id="main-menu">
    <li id="about"><a routerLink="/about">ABOUT</a></li>
    <li id="case-studies">
      <a routerLink="/case-studies">CASE STUDIES</a>
      <ul id="case-menu">
          <li style="clear: both;"><a style="padding: 14px 0; letter-spacing: 2px" routerLink='/chefbot-case'>Chef Bot</a></li>
          <li style="clear: both;"><a style="padding: 14px 0; letter-spacing: 2px" routerLink='/the-broker-connection'>The Broker<br> Connection</a></li>
      </ul>
    </li>
    <li id="prototypes"><a routerLink="/dev-work">DEV WORK</a></li>
  </ul>
  <div id="mini-menu">
    <div class="dropdown">
      <!-- a fake hidden checkbox is used as click receiver, so we can use the :checked selector on it-->
      <input type="checkbox" />
      <!-- hamburger -->
      <span></span>
      <span></span>
      <span></span>
      <ul class="dropdown-content">
        <a href="/about"><li>ABOUT</li></a>
        <a href="/case-studies"><li>CASE STUDIES</li></a>
        <a href="/chefbot-case"><li style="padding-left: 15px; letter-spacing: 2px">Chef Bot</li></a>
        <a href="/the-broker-connection"><li style="padding-left: 15px; letter-spacing: 2px; line-height: 1.3">The Broker Connection</li></a>
        <a href="/"><li>DEV WORK</li></a> 
      </ul>
    </div>
    <h1 class="large-text" style="line-height: 6vw">viola bazanye<br>portfolio</h1>
  </div>
</nav>
<router-outlet></router-outlet>
