<div id="home">
  <div id="profile-text">
    <h4>{{ title }}</h4>
    <h1 class="large-text">viola bazanye</h1>
    <p>I am a programmer with an enthusiasm for design and a drive to create futures for actual people.
          Most of my work involves User Experience & Interface Design, Web development (ReactJS & React Native) and Android development.
    </p>
    <div id="menu-grid">
      <div>
        <img src="assets/case-study.png" alt="case studies">
        <h4><a href="">CASE STUDIES</a></h4>
        <p class="light-text">Stories and detailed descriptions of projects that I have been hired to work on with a team or for a client, depending on their privacy policy.</p>
      </div>
      <div>
        <img src="assets/prototype.png" alt="prototypes">
        <h4><a routerLink="/prototypes">PROTOTYPES</a></h4>
        <p class="light-text">Ideas in the works, kind of my garage section where I display innovative ideas I have been workin on myself. Designed, developed and hopefully deployed.</p>
      </div>                    
    </div>
  </div>
  <div>
    <div id="profile-pic"><img src="assets/me.jpeg" alt="Viola Bazanye"></div>
    <div id="contact">
      <a href="mailto:vibaza2423@gmail.com"><img src="assets/gmail.png"></a>
      <a href="https://www.linkedin.com/in/viola-bazanye/"><img src="assets/linkedin.png"></a>
      <a href="https://github.com/violabazanye"><img src="assets/github.png"></a>
      <a href="https://violabazanye.wordpress.com/"><img src="assets/wordpress-logo.png"></a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
