#navbar{
    position: relative;
}
ul{
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}
li{
    float: left;
    font-weight: bolder;
    letter-spacing: 3px;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: darkolivegreen; 
}
.dropdown {
    display: none;
    padding-top: 60px;
    margin-left: 60px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    padding: 8px;
}
.dropdown-content a:hover {
    /*background-color: #f1f1f1;*/
    text-decoration: underline;
}

@media only screen and (max-width: 600px){
    ul {
        display: none;
    }
    .dropdown {
        display: block;
    }
}
@media only screen and (max-width: 414px){
    .dropdown {
        padding-top: 30px;
        margin-left: 30px;
    }
}