/* global styles */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    background-color: lightgrey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    line-height: 2vw;
}
.container {
    margin: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.large-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    line-height: 6vw;
    padding-top: 0.5;
    font-weight: 900;
    letter-spacing: 3px;
}
.light-text {
    font-weight: lighter;
}
a {
    color: darkolivegreen;
    text-decoration: none;
}
footer {
    font-weight: 200;
    font-size: .8vw;
    text-align: center;
}

.slideInUp {
    -webkit-animation: slideInUp 1s ease-out;
    animation: slideInUp 1s ease-out;
}
@-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
@keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

.fadeIn {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

/* RESPONSIVE CSS */

@media only screen and (max-width: 430px){
    .container {
        margin: 20px
    }
    body {
        font-size: 2vw;
        line-height: 3vw;
    }
}